Quiz Topic: Cars

Questions: 
1. Which stock car goes fastest in a 1/4 mile straight?
Porsche gt3, Honda Civic, Toyota Corolla, Pruis

2. How many Wheels are on the average car?
2, 5, 4, 1

3.Which type of transportation would be ideal for an 8 hour drive?
Motorcycle,Tricycle,Roller Skates,Minivan

4.What is the fastest production electric Vehicle?
Toyota Pruis,Nissan Leaf,Tesla Roadster,Chevy Volt

5.Which car would be fastest in an off road race?
Lexus G350, Trophey Truck',Audi A4,Toyota Pruis

images:

https://i.insider.com/5032aeb369bedd6c76000003?width=600&format=jpeg&auto=webp

